<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/dashboard.js"></script>
    <link rel="stylesheet" href="css/base.css" >
    <link rel="stylesheet" href="css/table.css" >
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/buttons.css">
    
    <title>Dashboard</title>
</head>



 
<body>
    <div class="navigation">

     <a type="button" class="button button-logout icon"  onclick="window.location='logout.jsp';">
        <div class="logout">Logout</div>
    </a>
  </div>
  

    <div class="page">
     <h1>My Dashboard</h1>
     

     <input type="button" class="button-profile icon"  onclick="window.location='profile.jsp';">
     <input type="button" class="button-basket icon"  onclick="window.location='mybasket.jsp';">
     <span class='badge-warning' id='cartCount'> 0 </span>


    <% if(type_person.equals("employee")) { %> 
    <h2>To Rent : </h2>
     <table class="layout display cars-table">
        <thead> 
            <tr> 
                <th>Brand</th> 
                <th>Model</th> 
                <th>General Grade</th> 
                <th>Condition Grade</th> 
                <th>Rental Price</th> 
                <th>Rented times</th> 
                <th>Availability</th> 
                <th>Rent</th> 
            </tr> 
        </thead> 
        <tbody> 

                    
            <%
                Vehicle[] lstVehicles = garage.getVehiclesList();
                for(Vehicle vehicle : lstVehicles) {
            %>
            <tr> 
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                
                <td>
                    <form method="POST">
                        <input type="hidden" name="rentVehiculeId" value=<%= vehicle.id %>>
                        <input type="submit" name="confirmRentBtn" class="icon button-rent" onclick='confirmRent()' value="" >
                    </form>
                </td>
                    
                
            </tr>
            <%
                }
            %>
        </tbody> 
     </table> 

        <%
            } else {
        %>

    <h2>To buy : </h2>
     <table class="layout display cars-table">
        <thead> 
            <tr> 
                <th>Brand</th> 
                <th>Model</th> 
                <th>General Grade</th> 
                <th>Condition Grade</th> 
                <th>Price</th> 
                <th>Rented times</th> 
                <th>Add to Basket</th> 
            </tr> 
        </thead> 
        <tbody>


            <%
                Vehicle[] lstVehicles = garage.getVehiclesList();
                for(Vehicle vehicle : lstVehicles) {
                    if(service.isAvailable(vehicle.id)) {
            %>
                    <tr> 
                        <td></td><td></td><td></td><td></td><td></td>
                        <td>
                            <form method="POST">
                                <input type="hidden" name="addToCartId" value=<%= vehicle.id %>>
                                <input type="submit" name="addToCartBtn" id='addcart' onclick="addToBasket(event)" class="icon button-addbasket" value=" " >
                            </form>
                        </td>
        
                    </tr>
            <%
                }
            }
            %>
            

        </tbody> 
     </table> 

    </div>
    
    
    
 </body>
</html>

-->



<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="css/base.css" >
    <link rel="stylesheet" href="css/table.css" >
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/buttons.css">
	<title>My Profile</title>
</head>


<body>


	<div class="page">
	
	
	 <h1>My Profile</h1>
	 
	 <input type="button" class="button-home icon" onclick="window.location='dashboard.jsp';">

	 	<input type="button" class="button-history icon" onclick="window.location='history.jsp';">
	
		<div class="currency-tab" >
		<table class="layout profile display cars-table">
				<tr> 
				    <th>User</th> 
				    <td>Jean</td> 
				</tr> 
				<tr> 
				    <th>Device name</th> 
				    <td>Samsung</td> 
				</tr> 
				<tr> 
				    <th>IMEI</th> 
				    <td>21312432</td> 
                </tr> 
                <tr> 
				    <th>Version</th> 
				    <td>2.14.0</td> 
                </tr>
                <tr> 
				    <th>Date</th> 
				    <td>12/09/20</td> 
				</tr> 
		 </table> 

         
         
	 
	
	  <table class="layout profile display cars-table modifycurrency">
			<tr>
				<th>Modify Your Currency</th> 
			</tr> 
			<form method="POST">
				<tr><td>
				    <SELECT name="toCurrency" size="1">
					    <option value="" selected disabled>To Currency</option>
					    <OPTION>EUR
					    <OPTION>USD
				    </SELECT>
				</td></tr> 
				<tr>
					<td>
						<input type="submit" onclick='changeCurrency()' style="background: url(logo/check.png)" class="icon check-logo" value="" >
					</td> 
				</tr>
		  </form>
	 </table> 

	 </div>
	 <h1>My assets</h1>
	 
	 <h2>- Configurations : </h2>
     <table class="layout profile display cars-table">
        <tr> 
            <th>Name</th> 
            <td>Config</td> 
        </tr> 
        <tr> 
            <th>Token</th> 
            <td>0000</td> 
        </tr> 
        <tr> 
            <th>RequestId</th> 
            <td>213</td> 
        </tr> 
        <tr> 
            <th>Version</th> 
            <td>v.1.0</td> 
        </tr>
        <tr> 
            <th>Receiver</th> 
            <td>fr.uge.theClass</td> 
        </tr> 
        <tr> 
            <th>Expiration</th> 
            <td>120 s</td> 
        </tr> 
 </table> 
	<br>
    
    
		</tbody> 
	 </table> 
	</div>

    
</body>
</html>