<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

    
<body>

    <div class="logindiv card">

        <form class="loginform" action="/" method="POST">
            <h5 class="loginh">Log In</h5>
            
            <br>
            <h6>Username</h6>
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input id="username" name="username" class="form-control" placeholder="Enter your login">
            
            <br>
            <h6>Password</h6>
            <span class="add-on"><i class="icon-key"></i></span>
            <input id="password" name="password" type="password" class="form-control" placeholder="Enter your password">

            <br>


            
            <input value="Login" type="submit" class="btn btn-primary loginbtn" >
            
            <a href="register">Register</a> 
        </form>


        <div class="info">
            <h5>Valkyroid</h5>
            <img src="images/iphone.jpg">
            <h6>The world's best app managing service</h6>
        </div>
        
    </div>


    
</body>
</html>
