<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

    
<body>


    
        <form class="loginform" action="/register" method="POST">
            <h5 class="loginh">Sign-Up</h5>
            
            <br>
            <h6>Username</h6>
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input id="username" name="username" class="form-control" placeholder="Choose your login">
            
            <br>
            <h6>Password</h6>
            <span class="add-on"><i class="icon-key"></i></span>
            <input id="password" name="password" type="password" class="form-control" placeholder="Choose your password">

            <br>


            
            <input value="Register" type="submit" class="btn btn-primary loginbtn" >
            
            <!-- TODO : !-->
            <a href="/">Sign-in</a> 
        </form>

        


    
</body>
</html>
