#cartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    float: right;
  	border-radius: 9px;
}


input.button-addbasket {
	background-image: url(../logo/add-tobasket.png);
}
input.button-rent {
    background-image: url(../logo/rent.png);
}







