<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.uge.confroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/condroid_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Confroid"
        android:configChanges="locale">

        <service
            android:name=".configurations.services.ConfigurationVersions"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".configurations.services.ConfigurationPuller"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".configurations.services.ConfigurationPusher"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".configurations.receivers.TokenDispenser"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".configurations.TokenActivity" />
        <activity android:name=".configurations.AllVersionsActivity" />
        <activity android:name=".configurations.ConfigActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fr.uge.confroid.storageprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Confroid.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>